@model Invitation_Project.Models.InvitationModel
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teşekkürler, @Model.Ad</h2>

<div class="lead">
    @if (Model.KatilmaDurumu == true)
    {
        @:Gelmene Çok Sevindim :) Bütün Hazırlıklar Tamam..
        @Html.Action("Katilanlar", "Default")
    }
    else
    {
        @:Gelemeyecek olmana çok üzüldüm 
    }
</div>

